<div class="overall">
    <section class="dashboard">
        <h1>Log</h1>
        <p>Bienvenido! En esta vista, puedes ver en tiempo real los cambios a la base de datos.</p>
        <p>Solo se registran las operaciones que se realizan mientras esta vista está activa. Si se cambia de vista, las operaciones mostradas serán borradas.</p>
        <h2>Tabla de cambios</h2>
        <table>
            <thead>
                <tr>
                    <th>Documento</th>
                    <th>Time</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let persona of personas">
                    <td>{{ persona.key }}</td>
                    <td>{{ persona.timestamp | date:'dd/MM/yyyy hh:mm:ss a' }}</td>
                    <td>{{ persona.accion }}</td>
                </tr>
            </tbody>
        </table>
    </section>
    <section class="app-user">
        <app-user></app-user>
    </section>
</div>
